* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li:hover {
  color: rgb(179, 224, 30);
}
.main {
  background-color: rgba(23, 72, 220, 0.115);
}

nav {
  background-color: rgba(255, 255, 255, 0.292);
  backdrop-filter: blur(10px);
}
.foot {
  background-color: #00a2ff5a;
  backdrop-filter: blur(10px);
}
